@import '../../index.scss';
.main-form {
    box-shadow: 26px 26px;
    width: 582px;
    height: 673px;
    background: var(--bgcolor-header);
    .form-title {
        padding: 20px 20px 50px 20px;
        text-align: center;
    }
    .form-body {
        margin: 0 30px;
        .col-md-6 {
            padding-left: 5px;
            padding-right: 5px;
        }
        .col-md-12 {
            padding-left: 5px;
            padding-right: 5px;
        }
        input,
        select {
            background: var(--bgcolor-header);
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 4px;
            color: #000000;
            font-family: 'Roboto';
            font-style: normal;
            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px var(--bgcolor-header) inset;
            }
        }
        .estado {
            position: relative;
            select {
                appearance: none;
                background: url('../../../public/images/arrowD.png') no-repeat center right;
                background-position-x: 94.5%;
                &:-webkit-autofill {
                    -webkit-text-fill-color: #000000 !important;
                }
            }
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                right: 40px;
                display: block;
                height: 54%;
                width: 1px;
                background-color: #000000;
            }
        }
        .button-submit {
            display: flex;
            justify-content: center;
            margin-top: 12px;
            .btn-submit {
                // position: absolute;
                width: 150.58px;
                height: 42px;
                left: 559.19px;
                top: 354px;
                background: #ffffff;
                box-shadow: -5px 5px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 800;
                font-size: 16px;
                line-height: 19px;
                border: none;
                text-align: center;
                transition: box-shadow 0.3s;
                cursor: pointer;
                &:hover {
                    box-shadow: none;
                }
            }
        }
    }
}

.modal-content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: justify;
}

@media (max-width: 375px) {
    .main-form {
        height: 100%;
        width: 100%;
        box-shadow: none;
        .form-title {
            padding: 5px;
            h1 {
                font-size: 25px;
                line-height: 30px;
            }
        }
        .form-body {
            .button-submit {
                .btn-submit {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .main-form {
        height: 100%;
        width: 100%;
        box-shadow: none;
        .form-body {
            .estado {
                select {
                    background-position-x: 96.5% !important;
                }
            }
            .button-submit {
                .btn-submit {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .main-form {
        height: 100%;
        width: 100%;
        box-shadow: 26px 26px;
        .form-body {
            .estado {
                select {
                    background-position-x: 97% !important;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .main-form {
        height: 100%;
        width: 100%;
        box-shadow: 26px 26px;
        margin-top: 40px;
        .form-body {
            .button-submit {
                .btn-submit {
                    margin-bottom: 30px;
                }
            }
        }
    }
}